body {
    margin: 0;
}

ol {
    list-style-type: none;
    padding-inline-start: 5px;
}

header {
    width: 50%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    height: 12rem;
    display: flex;
    align-items: center;
    margin: 0 auto;                     /*Tämä keskittää headerin*/
    border-bottom: 1px solid black;
}


/*BANNER*/
.banner-search-container {
    width: 35%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
}

.banner {
    
}

.banner img {
    height: 100px;
    width: 330px;
}

/*SEARCHBAR*/
.search-container {
    margin-left: 20px;
}

.search-container input[type="text"] {
    
}

.search-container button {
    
}

/*NAVIGATION*/
nav {
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
    display: none;                
}

nav a {
    color: aliceblue;
    text-decoration-line: none;
}

.frontpage-link {
    background-color: black;
    padding: 6px;
    border-radius: 8px;
    margin: 4px;     
}

.all-products-link {
    background-color: black;
    padding: 6px;
    border-radius: 8px;
    margin: 4px;      
}

/* LOG & CART */
.menu-log-cart-container {
    display: flex;
    width: 55%;                          /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    justify-content: space-between;
    margin-left: 20px;
}

.menu {

}

.menu img {
    width: 150px;
    height: 100px;
}

.log {

}

.log img {
    width: 120px;
    height: 100px;
}

.logout {

}

.logout img {
    width: 150px;
    height: 100px;
}

.logout-button button{
    border: none; 
    background: none; 
    padding: none; 
    cursor: pointer;
}

.cart {

}

.cart img {
    width: 120px;
    height: 100px;
}

/*LOGIN -FORM*/
.login-main {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.login-container {
   
}

.register-container {

}


/*PRODUCTS*/
.index-main {
    width: 50%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;                    /*Tällä saa tuotteita x määrä riviin*/
    justify-content: center;
}

.product-container {
    width: 30%;                         /*Tällä saan 3 tuotetta yhteen riviin*/
    height: 22rem;
    display: block;
    text-align: center;                 /* Tämä laittoi otsikon, kuvan ja hinnan keskitettyä*/
}

.product-container img {
    height: 220px;
    width: 180px;
    margin-bottom: 8px;
}

.product-price-cart-container {
    background-color: black;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items:center;
    width: fit-content;
}

.product-price-cart-container p {
    background-color: black;
    color:aliceblue;
    font-weight: bold;
    padding: 4px;
    margin: 5 5 5 5;
}

.product-price-cart-container img {
    height: 20px;
    width: 20px;
    margin-right: 7px;
    margin-top: 5px;
}

/*Tämä tyyli on yhden tuotteen esittely -sivulla*/
.product-display-main {
    width: 50%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;                    /*Tällä saa tuotteita x määrä riviin*/
    justify-content: center;
}

.product-display-container {
    display: flex;
    width: 100%;
}

.product-display-container img {
    height: 300px;
    width: 250px;
    margin-right: 10px;
}

.product-display-image {
    border-right: 1px solid rgb(160, 159, 159);
}

.product-display-detail {
    margin-left: 3rem;
}

.product-cart-text {
    background-color: black;
    color: aliceblue;
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
}



/*FOOTER*/

footer {
    background-color: black;
    height: 12rem;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

.footer-header-body-container {
    align-content: center;
    color:aliceblue;
    display: flex;
    /*justify-content: center;*/
    width: 100%;
}

.footer-osoitetiedot {
    padding-left: 30px;
    padding-right: 30px;
}

.asiakaspalvelu {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-avainlogo {
    margin-left: auto; 
    position: static;
    padding-right: 30px;
}

.footer-avainlogo img {
    height: 150px;
    width: 150px;
}
