header {
    width: 50%;
    height: 12rem;
    display: flex;
    align-items: center;
    margin: 0 auto;                     /*Tämä keskittää headerin*/
    /*justify-content: space-between;*/
    border-bottom: 1px solid black;
}


/*BANNER*/
.banner-search-container {
    width: 35%;
}

.banner {
    
}

/*SEARCHBAR*/
.search-container {
    
}

.search-container input[type="text"] {
    
}

.search-container button {
    
}

/*NAVIGATION*/

/* LOG & CART */
.menu-log-cart-container {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.menu-log-cart-container img {
    height: 75px;
    width: 75px;
}

.menu {

}

.menu img {
    height: 75px;
    width: 75px;
}

.log {

}

.cart {

}