body {
    margin: 0;
}
header {
    width: 50%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    height: 12rem;
    display: flex;
    align-items: center;
    margin: 0 auto;                     /*Tämä keskittää headerin*/
    border-bottom: 1px solid black;
}


/*BANNER*/
.banner-search-container {
    width: 35%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
}

.banner {
    
}

/*SEARCHBAR*/
.search-container {
    
}

.search-container input[type="text"] {
    
}

.search-container button {
    
}

/*NAVIGATION*/

/* LOG & CART */
.menu-log-cart-container {
    display: flex;
    width: 55%;                          /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    justify-content: space-between;
}

.menu {

}

.menu img {
    width: 150px;
    height: 100px;
}

.log {

}

.log img {
    width: 120px;
    height: 100px;
}

.logout {

}

.logout img {
    width: 150px;
    height: 100px;
}

.logout-button button{
    border: none; 
    background: none; 
    padding: none; 
    cursor: pointer;
}

.cart {

}

.cart img {
    width: 120px;
    height: 100px;
}


/*PRODUCTS*/
.index-main {
    width: 50%;                         /*HOX! Parempi käyttää staattista leveyttä (pxl/rem)?*/
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;                    /*Tällä saa tuotteita x määrä riviin*/
    justify-content: center;
}

.product-container {
    width: 30%;                         /*Tällä saan 3 tuotetta yhteen riviin*/
    height: 22rem;
    display: block;
    text-align: center;                 /* Tämä laittoi otsikon, kuvan ja hinnan keskitettyä*/
}

.product-container img {
    height: 200px;
    width: 150px;
}

.product-price {

}

/*FOOTER*/

footer {
    background-color: black;
    height: 15rem;
    width: 50%;
    margin: 0 auto;
}

/*LOGIN -FORM*/
.login-main {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.login-container {
   
}

.register-container {

}